.animate-text {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

.animate-text-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;
  
  &:hover {
    animation: rubberband 1s;
    color: hsl(189, 100%, 50%);
  }
  
  &:nth-child(even){
    &:hover {
      color: hsl(0, 100%, 88%);
    } 
  }
  
}


@for $i from 1 through 35 {
  .animate-text._#{$i}{
    animation-delay: #{$i /10}s;
  }
}
